.titulo {
  font-family: Belleza;
  font-size: 68.133px;
  font-style: normal;
  font-weight: 400;

  margin: 0;
  padding: 0;

  color: #F4F4F4;
  font-family: Montserrat;
  font-size: 75px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 874px;

}

.card {
  width: 100px;
  height: 200px;
}

.divprincipal{
  
  display: flex ;
  flex-direction: row;
  justify-content: space-around;
  
  margin-top: 100px;

  
  
}
.descricao {
  width: 530px;
  color: #D0D0D0;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 156.4%; /* 28.152px */
}

.descricao2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  
  gap: 20px;

  
  /* float: right; */
 
  width: 699px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 156.4%;
  
}
.descricao2 h1{
  
  color: #D9D9D9;
  font-family: Montserrat;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 551px;
}

.descricao2 span{
  width: 551px;
}

.imgcasal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imgcasal img {
  width:1011px;
 
  /* margin-left: auto; */
}

.buttonDefault {
  border: 3px solid var(#33ADDF, #F22323);


  /* border-color: white; */

  padding: 10px;
  background: none;
  color: white;
  /* border-radius: 30px; */
  border-radius: 100px;
  /* border: 3px solid var(--graaadient, #F22323); */
  display: inline-flex;
  padding: 15px 20px;
  align-items: center;
  gap: 10px;


}
.buttonDefault button{
  border: 1px solid #fff;
}

.button { 
  color: #FFF;
  font-family: Montserrat;
  font-size: 23px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.divprincipal {
  overflow: hidden;
}


.subtitulo {
  color: #FFF;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  
}

.numero {
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: linear-gradient(180deg, #DC781C 0%, #C93677 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.azcor{
  font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
background: linear-gradient(180deg, #CF427B 0%, #154587 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

display: flex;
padding: 5px 9px;

align-items: flex-start; 
gap: 10px; 
border-radius: 5px;
border: 2px solid #CF427B;
}

.az {
  color: #FFF;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.pequenotext {
  color: #FFF;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.navigation {
  width: 143px;
  height: 42px;
  flex-shrink: 0;
  color: #FFF;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 182.9%;
  /* 45.725px */
}

.bloco1 {
  left: 20px;
  width: 36.58px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 182.9%;
  /* 36.58px */
}

.bloco2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}


.account{
  color: #FFF;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


/* QUARTA PARTE */
.divprincipal4parte{
  border:1px solid #fff;
  display: flex ;
  flex-direction: row;
  justify-content: space-around;
  
  margin-top: 100px; 
}

.titulo4parte{

  margin-left: 60px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 23px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.divprincipal4parte h1{
  margin-left: 50px;
  
  color: #FFF;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  
  

  
}

.divprincipal4parte img{
  margin-left: 20px;
  width: 225px;
  height: 318px;
  flex-shrink: 0;
  border-radius: 10px;
  /* background: url(/casal2.png), lightgray 50% / cover no-repeat; */
}