.nav{
    /* border:1px solid #fff; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start ;
    align-items: center;
}

.logo{
    /* border: 1px solid #fff; */
    width: 70px;
    height: 58px;
    /*flex-shrink: 0; 
    position:absolute;*/
}

.menu{
    display: flex;
    flex-direction: row;
    gap: 80px;
    font-size:24px ;
    list-style-type: none;
}

.premium{
    /* border: 1px solid #fff; */

    left:1495px;
    position: fixed;

}

.search{
    border: 1px solid #fff;
    border-radius: 15px;
    width: 238px;
    text-align: center;
    
    padding: 5px 0;

    left: 1620px;
    position:fixed;

    
}
.s{
    background: var(--graaadient, linear-gradient(96deg, #F22323 2.68%, #33ADDF 103.41%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.anime{
    background: var(--graaadient, linear-gradient(96deg, #F22323 2.68%, #33ADDF 103.41%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon{
    /* border: 1px solid #fff; */
    left: 1876px;
    position: fixed;

    
}

.degrad{
    background: var(--graaadient, linear-gradient(96deg, #F22323 2.68%, #33ADDF 103.41%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}